<div class="mainsection">
  <h3>{{selectedDemo.title}}</h3>
  <a href="{{selectedDemo.repo}}" target="new">Show Github Repo</a>
  <P>{{selectedDemo.description}}</P>
  <h4><u>Setup</u></h4>
  <P>{{selectedDemo.overview}}</P>
  <ol>
    <li *ngFor="let step of selectedDemo.setup;let i1 = index;">
      <input type="checkbox" ng-model="selectedDemo.setup[i1].complete" id="setup{{i1}}" (click)="checkClick($event,i1)"/>
      {{step.body}}<br>
      <span *ngFor="let button of step.buttons">
        <button (click)="copyToClipboard(button.textToCopy)" >{{button.label}}</button>
      </span>
      <br><br>
    </li>
  </ol>
  <h4><u>Execution</u></h4>
  <ol>
    <li *ngFor="let step of selectedDemo.execution; let i = index">
      <input type="checkbox" ng-model="selectedDemo.checked" id="EXEC{{i}}" (click)="checkClick($event,i)"/>
      {{step.body}}<br>
      <span *ngFor="let button of step.buttons">
        <button (click)="copyToClipboard(button.textToCopy)" >{{button.label}}</button>
      </span>
      <br><br>
    </li>
  </ol>
</div>
